body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;

}
.head{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 65px;
}

.card{
    display:flex;
    flex-direction:row;
   

    margin-top: 20px;
    margin-bottom: 20px;

}

img{
    
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 58px;
    margin-bottom: 58px;
   
   
    border-width: 5px;
    border-style: solid;
    border-radius: 13px;
    
    border-color: black;
}

p{
    display:flex;
    flex-wrap: wrap;
    margin:20px;
    border-width: 5px;
    border-style: solid;
    border-radius: 13px;
    padding:10px;
    border-color: black;
    /* background-color: rgb(218, 218, 26); */
}

.info{
    display:flex;
    /* flex:auto; */
    justify-content: center;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    border-width: 5px;
    border-style: solid;
    border-radius: 13px;
    /* padding:10px; */
    border-color:black;
    width:100%;
    background-color:lightgray;


    
}

#button{
display:flex;
justify-content: flex-end;
margin:20px;


}